@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sorts Mill Goudy', serif;
}

:root{
  --main-color:#fff
}

body{
  overflow-x: hidden;
}

#carouselExampleAutoplaying{
  position: absolute;
  top: 0;
  color: var(--main-color);

}

.poster-info{
  max-width: 330px;

  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 20;

  display: flex;
  flex-flow: column;

  gap: 5px;

  text-align: start;
}

.poster-info_title{
  font-size: 35px;
  font-weight: bold;
  color: #f2d4d4;
  text-shadow:
  0 0 29px rgba(241, 0, 0, .7),
  0 0 59px rgba(241, 0, 0, .7),
  0 0 59px rgba(241, 0, 0, .7),
  0 0 119px rgba(241, 0, 0, .7);

}

.poster-info > p{
  text-shadow:
  0 0 15px rgba(0, 0, 0, .7),
  0 0 45px rgba(0, 0, 0, .7),
  0 0 105px rgba(0, 0, 0, .7);
}


.navbar{
  z-index: 10;
}

.charge-screen{
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 150;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(to bottom, #0c0b0c 70%,   #cd1a1a);
  
}

.charge-screen > .spinner-grow {
  width: 80px ;
  height: 80px;
}

.charge-screen > .spinner-grow > img{
  width: 100%;
  height: 100%;
}

.movies{
  z-index: 50;
  position: absolute;
  top: 600px;
  border-radius: 20px 20px 0 0;
  background-color: #0c0b0c;
  width: 100%;

  box-shadow: 1px 87px 92px -48px rgba(227,25,25,0.75) inset;

  padding: 20px;
  padding-top: 50px;

  overflow: hidden;
}

.title_section > h3{
  font-size: 35px;
  font-weight: bold;
  text-shadow:
  0 0 10px rgba(255, 255, 255, .7),
  0 0 40px rgba(255, 255, 255, .7),
  0 0 100px rgba(255, 255, 255, .7);
}

.carrousel-series{
  display: flex;
  gap: 30px;


  padding-right: 10px;
  overflow-x: scroll;
}

.carrousel-series::-webkit-scrollbar{
  display: none;
}

.serie-poster{
  display: flex;
  flex-flow: column;
  width:250px;
}

.serie-poster >span{
  font-size: 20px;
  font-weight: bold;
  color: #fff;

  text-align: center;
}

.serie-poster > img{
  width: 250px;
  height: 320px;

  border-radius: 20px;
}

.movies-grid{
  display: flex;
  gap: 30px;
  flex-flow: column;
  align-items: center;
}

/*MOVIE DESCRIPTION*/

.closer-description{
  border: none;
  background-color: transparent;
}

.closer-description > i{
  font-size: 30px;
}


.offcanvas-header{
  z-index: 10;
}

.body-descriptions{
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 55%;

  border-radius: 25px 25px 0 0;
  background-color: #0c0b0c;
}

.body-descriptions > h3 {
  font-size: 30px;
  font-weight: bold;
  color: #f2d4d4;
  text-shadow:
  0 0 29px rgba(241, 0, 0, .7),
  0 0 59px rgba(241, 0, 0, .7),
  0 0 59px rgba(241, 0, 0, .7),
  0 0 119px rgba(241, 0, 0, .7);
}

.body-descriptions > p{
  color:#fff ;
  font-size: 25px;
  font-weight: bold;
  text-shadow:
  0 0 10px rgba(255, 255, 255, .7),
  0 0 40px rgba(255, 255, 255, .7),
  0 0 100px rgba(255, 255, 255, .7);
}


.description-poster{
  position: absolute;
  top: 0;
  width: 100%;
  height: 500px;
}

.genres > .badge{
  font-size: 20px;
  margin: 10px;
}


/*SEARCH INPUT*/
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}


.input {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(128, 12, 12);
  width: 220px;
  cursor: none;
  padding: 18px 16px 18px 40px;
}


.icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
  fill: rgb(255, 4, 0);
  border: 1px solid rgb(255, 255, 255);
}

.input:hover + .icon {
  transform: rotate(360deg);
  transition: .2s ease-in-out;
}

.input:focus + .icon,.input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}

/*SEARCH INPUT*/

.searchedMovies{
  display: grid;
  grid-template-columns: 50% 50%;
}

.searchedMovies > .serie-poster{
  width: 180px;
}

.searchedMovies > .serie-poster > img{
  width: 100%;
}




.puffOut {
  animation: puffOut 5s ;
}

@-webkit-keyframes puffOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(2px);
  }
}

@keyframes puffOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    filter: blur(2px);
  }
}